.message {
display: flex;
    width: 430px;
    height: 230px;
    background-color: #405969;
    margin: 0 auto;
}
.img img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    margin: 20px 0 0 30px;
}

.block_content {
    /*display: flex;*/
    width: max-content;
    height: max-content;
    background-color: #2f9bf6;
    margin: 10px 0 0 10px;
    border-radius: 5px;
}
.block_content:after {
    content: '';
    position: absolute;
    display:block;
    top: 124px;
    left: 70px;
    border: 20px solid transparent;
    border-right: 20px solid green;
    border-bottom: 20px solid green;
}
.nameItem {
    margin: 0 10px 0 10px;
    color: #fdd005;
}

.messageItem {
    margin: 0 20px 0 20px;
    color: chartreuse;
}
.timeItem {
    display: flex;
    justify-content: flex-end;
    margin: 8px 5px 0 280px;
    color: #000000;
}
