.body {
    display: flex;
    width: 430px;
    height: 230px;
    background-color: #405969;
    margin: 0 auto;
}

/*div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
}*/

.imgItem img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    margin: 20px 0 0 10px;
}

.block_content {
    /*position: relative;*/
    width: max-content;
    height: max-content;
    background-color: #2f9bf6;
    margin: 10px 0 0 40px;
    border-radius: 5px;
}

.block_content:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 28px;
    margin-top: 53px;
    left: 640px;
    background-color: #2f9bf6;
    border-bottom-right-radius: 19px 26px;

 }

.block_content:after {
    content: '';
    position: fixed;
    width: 29px;
    height: 30px;
    margin-top: -29px;
    right: 883px;
    background-color: #405969;
    border-bottom-right-radius: 23px;
 }


.nameItem {
    margin: 0 10px 0 10px;
    color: #fdd005;
}
.messageItem {
    margin: 0 20px 0 20px;
    color: chartreuse;
}
.timeItem {
    display: flex;
    justify-content: flex-end;
    margin: 8px 5px 0 280px;
    color: #000000;
}
